html, body, #root {
    height: 100%;
    margin: 0;
    font-family: 'Circular';
    background-color: black;
  }
  
  .App {
    background: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    font-family: sans-serif;
  }

.cl-internal-16vtwdp, .cl-internal-piyvrh {
  display: none;
}

.cl-internal-1grbo8b {
  width: 330px;
  height: 200px;
}

.cl-internal-1lldyk3{
  padding: 6px 16px;
}

.cl-internal-13lvar6 {
  background-color: black !important;
  color: white;
}