html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-body{
  display: flex;
  flex-direction: row;
}
