.disp-album-main {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.playlist{
    font-size: 0.7rem;
}

.disp-album-image {
    width: 8rem;
    height: 8rem;
    border-radius: 4px;
}

.disp-album-content {
    display: flex;
    flex-direction: column;
    line-height: 0.8;
    align-items: start;
}

.disp-album-name {
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
}

.disp-album-desc {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

.disp-album-mini-content {
    font-size: 0.6rem;
}

.disp-album-body {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    color: #a7a7a7;
    font-size: 0.8rem;
    align-items: center;
}

.disp-album-data {
    align-items: center;
    padding: 0.3rem;
    cursor: pointer;
    color: #a7a7a7;
    font-size: 0.8rem;
}

.disp-album-data:hover {
    background-color: #ffffff2b;
}

.disp-album-data-image {
    width: 35px;
}

.song-index {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.song-desc {
    display: block;
}

.song-duration {
    margin-left: auto;
    width: 1rem;
}

table{
    margin-top: 1rem;
    width: 100%;
    border: none;
}

@media (max-width:900px) {
    .song-desc {
        display: none;
    }
}

@media (max-width:750px) {
    .song-dura {
        display: none;
    }

    .disp-album-name{
        font-size: 1.5rem;
    }
}

@media (max-width:700px) {
    .total-dura{
        display: none;
    }
}

@media (max-width:670px) {
    .song-artist{
        display: none;
    }

    /* .disp-album-name{
        font-size: 1.4rem;
    }

    .playlist{
        font-size: 0.6rem;
    }

    .disp-album-desc{
        font-size: 0.6rem; 
    } */

    .disp-album-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .disp-album-image {
        width: 10rem;
        height: 10rem;
    }

    .playlist{
        display: none;
    }
}

@media (max-width:550px) {
    .song-artist{
        display: block;
    }

    .disp-album-main {
        flex-direction: row;
        gap: 2rem;
    }
}

@media (max-width:525px) {
    .disp-album-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width:470px) {
    .song-artist{
        display: none;
    }
}

@media (max-width:380px) {
    .disp-album-data-image{
        display: none;
    }

    .disp-album-image {
        width: 8rem;
        height: 8rem;
    }
}
