.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px 2.3%;
    z-index: 1000;
}

.player-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.song-details {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    
}

.song-details p {
    margin: 0;
    font-size: 0.7rem;
}

.player img {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 4px;
    object-fit: contain;
}

.player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    margin-left: 6%;
    margin-top: 1.7%;
}

.player-controls-items {
    display: flex;
    gap: 1rem;
    margin-left: -5%;
}

.player-controls-button {
    width: 1rem !important; 
    height: 0.7rem !important; 
    cursor: pointer;
    object-fit: contain;
}

.player-time{
    margin-left: -4.5%;
    margin-top: -1%;
    display: flex;
    align-items: center;
    gap:1.25rem;
}

.player-timeline {
    width: 30vw; /* Adjust as needed */
    position: relative;
    max-width: 500px;
    height: 0.18rem;
    background-color: gray; /* Background color of the timeline */
    cursor: pointer;
  }
  
  .player-line {
    height: 100%; /* Full height of the timeline */
    background-color: green; /* Line color */
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.1s ease; /* Smooth transition */
  }
  

.player-tools {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    opacity: 0.75;
    margin-right: 4%;
}

.player-tools-button {
    width: 1rem !important; 
    height: 0.7rem !important;
    cursor: pointer;
}

.player-tools-volume {
    width: 3rem; /* Adjust width as needed */
    height: 0.12rem; /* Height of the slider */
    background-color: #ccc; /* Background color of the slider track */
    cursor: pointer;
    position: relative;
  }
  
  .player-tools-volume .player-line {
    height: 100%; /* Fill the height of the slider track */
    background-color: blue; /* Change color to indicate volume level */
    position: absolute;
    top: 0;
    left: 0;
  }

/* Player.css */

.player.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: black; /* Ensure it covers the screen properly */
  }
  
  /* Ensure the rest of your app's layout supports fullscreen */
  html, body {
    height: 100% !important;
    margin: 0 !important;
  }
  
  

@media (min-width: 1024px) {
    .player-content {
        display: flex;
    }
    .player-tools{
        display: flex;
    }
}
