.song-main{
    width: 110px;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 4px;
    margin-right: 0.7rem;
    border: none;
}

.song-main:hover{
    background-color: #ffffff26;
}

.song-image {
    border-radius: 4px;
    width: 110px;
    height: 110px; /* Ensures all images have the same height */
    object-fit: cover; /* Ensures images fill the box without distortion */
}


.song-name{
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
    font-size: 0.75rem;
}

/* .song-desc{
    color: whitesmoke;
    font-size: 14px;
    font-size: 0.63rem;
    font-weight: 100;
} */

